.test li{
	list-style: none;
	position:relative;
	display:inline-block;
}
a:link{
	text-decoration: none;
}
/********** Mise en forme block encadrant *****************/
.test ul li .btn_underline{
	display:inline-block;
		text-decoration: none;
	color: #000;
}
/********** Mise en place div suivant le lien *****************/
.btn_underline a:after{
	display:block;
	height:5px;
	width:0px;
	background-color:black;
	content:"";
	-webkit-transition:all 2s;
	-moz-transition:all 2s;
}
	/********** Action soulignement par la gauche *****************/
.underline_left a:hover:after{
width:100%;
}

/********** Modifs pour soulignement par le milieu *****************/
.underline_middle a:after{
display:block;
margin:auto;
}
.underline_middle{	
	text-align:center;
}

	/**********Action pour soulignement par le milieu *****************/
.underline_middle a:hover:after{
	width:100%;
}
/** A faire 
***** Soulignement par la droite **********
***** Vitesse de soulignement ***********/
/* bouton qui souligne SANS SPAN de gauche a droite*/
.nav{
	background: #ccc;
	height: 60px;
	font-size: 44px;
}
.underline-ltr {
  position: relative;
  color: #000;
}
.underline-ltr:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color: #FFC715;
  content: "";
  transition: width 0.2s;
}
.underline-ltr:hover {
  font-weight:bold;
}
.underline-ltr:hover:after {
  width: 100%;
}
/* bouton qui souligne SANS SPAN de droite a gauche*/

.underline-rtl {
  position: relative;
  color: #000;
}
.underline-rtl:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color: #FFC715;
  content: "";
  transition: width 0.2s;
}
.underline-rtl:hover {
  color: #FFC715;
}
.underline-rtl:hover:after {
  width: 100%;
}
/* bouton qui souligne SANS SPAN du bas vers le haut*/
.underline-btt {
  position: relative;
  color: #000;
}
.underline-btt:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 0;
  background-color: #FFC715;
  content: "";
  transition: height 0.2s;
}
.underline-btt:hover {
  color: #FFC715;
}
.underline-btt:hover:after {
  height: 10px;
}
/* bouton qui souligne SANS SPAN du haut vers le bas*/
.underline-ttb {
  position: relative;
  color: #000;
}
.underline-ttb:after {
  display: block;
  position: absolute;
  left: 0;
  top: 49px;
  width: 100%;
  height: 0;
  background-color: #FFC715;
  content: "";
  transition: height 0.2s;
}
.underline-ttb:hover {
  color: #FFC715;
}
.underline-ttb:hover:after {
  height: 10px;
}