.test li{
	list-style: none;
	position:relative;
	display:inline-block;
}

/********** Mise en forme block encadrant *****************/
.test ul li .btn_underline{
	display:inline-block;
		text-decoration: none;
	color: #000;
}
/********** Mise en place div suivant le lien *****************/
.btn_underline a:after{
	display:block;
	height:5px;
	width:0px;
	background-color:black;
	content:"";
	-moz-transition:all 2s;
}
	/********** Action soulignement par la gauche *****************/
.underline_left a:hover:after{
width:100%;
}

/********** Modifs pour soulignement par le milieu *****************/
.underline_middle a:after{
display:block;
margin:auto;
}
.underline_middle{	
	text-align:center;
}

	/**********Action pour soulignement par le milieu *****************/
.underline_middle a:hover:after{
	width:100%;
}
/** A faire 
***** Soulignement par la droite **********
***** Vitesse de soulignement ***********/